<div class="tooltips cmd cmd-widget #history#" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="display: block;">
  <center>
      <span style="font-size : 12px !important;#hideCmdName#" class="cmdName">#name_display#</span> <strong class="state" style="font-size: 12px;"></strong> #unite#
    </center>
    <center>
      <span class="stateDate"></span>
      <span class="stateImg"></span>
        <p class="stateTxt"></p>
    </center>
  <script>
    jeedom.cmd.update['#id#'] = function(_options){
      var Stxt = "?";
      var imgPath = "plugins/BoschIndego/core/template/dashboard/cmd.info.numeric.BoschIndegoStateV3/";
      var Simg = "";
      $('.cmd[data-cmd_id=#id#]').attr('title','Valeur du '+_options.valueDate+', collectée le '+_options.collectDate)
      $('.cmd[data-cmd_id=#id#] .state').empty().append(_options.display_value);
      $('.cmd[data-cmd_id=#id#] .stateDate').empty().append(_options.valueDate);
      var Svalue = parseInt(_options.display_value);
      if(Svalue == 0) Stxt = 'Lecture état.';
      else if(Svalue == 257 || Svalue == 260)
      { Simg = '<img src="'+imgPath+'OnDockStationCharging.gif" width="280" height="200"/>';
         if(Svalue == 257) Stxt = 'En charge.';
        else if(Svalue == 260) Stxt = "Sur station. En charge.";
      }
      else if(Svalue >= 258 && Svalue <= 263)
      { Simg = '<img src="'+imgPath+'OnDockStation.gif" width="280" height="200"/>';
        Stxt = "Sur station. ";
        if(Svalue == 259) Stxt += "Mise à jour logiciel.";
        else if(Svalue == 262) Stxt += "Chargement carte.";
        else if(Svalue == 263) Stxt += "Enregistrement carte.";
      }
      else if(Svalue >= 513 && Svalue <= 519)
      { Stxt = "Tonte. ";
        Simg = '<img src="'+imgPath+'Mowing.gif" width="280" height="200"/>';
        if(Svalue == 514) Stxt += 'Recherche position.';
        else if(Svalue == 515) Stxt += 'Chargement carte.';
        else if(Svalue == 516) Stxt += 'Reconnaissance de la pelouse.';
        else if(Svalue == 517) Stxt += 'Pause.';
        else if(Svalue == 518) Stxt += 'Coupe des bordures.';
        else if(Svalue == 519) Stxt += 'Incident.';
      }
      else if(Svalue >= 769 && Svalue <= 776)
      { Simg = '<img src="'+imgPath+'ToDockStation.gif" width="280" height="200"/>';
        Stxt = "Retour à la station. ";
        if(Svalue == 771) Stxt += "Batterie faible.";
        else if(Svalue == 772) Stxt += "Créneau horaire de tonte terminé.";
        else if(Svalue == 773) Stxt += "Température batterie.";
        else if(Svalue == 775) Stxt += "Tonte terminée.";
        else if(Svalue == 776) Stxt += "Recherche position.";
      }
      $('.cmd[data-cmd_id=#id#] .stateImg').empty().append(Simg);
      $('.cmd[data-cmd_id=#id#] .stateTxt').empty().append('Statut Indego : '+Stxt);
    }
    jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
  </script>
</div>

